
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<head>
</head>
{% block app_content %}
<link rel= "stylesheet" href="{{url_for('static', filename='stylesheets/index.css') }}">
<body>
<div class="container" display="flex" flex-wrap="nowrap" justify-content="space-between">
        <div class="row">
          <div class="col-md-6">
            <div class="card"> 
              <div class="card-body" id="index-card01" onclick='window.location.href="{{ url_for('api.menu') }}"'>
              <h3 class="card-title" id="card-title-1">Self Assessments</h3>
              <p class="card-text">Knowing yourself is the first step on the path to a balanced life.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card"> 
                  <div class="card-body" id="index-card02" onclick='window.location.href="{{ url_for('api.fygoals', username=current_user.username) }}"'>
                    <h3 class="card-title" id="card-title-2">SMART Goals</h3>
                    <p class="card-text">Stepping stones achieve dreams.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body" id="index-card03" onclick='window.location.href="{{ url_for('communications.todo', username=current_user.username) }}"'>
                  <h3 class="card-title" id="card-title-3">Assignments and Tasks</h3>
                  <p class="card-text">Tools that will help organize your busy life.</p>
                 </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                  <div class="card">
                                <div class="card-body" id="index-card04" onclick='window.location.href="{{ url_for('api.menu', username=current_user.username) }}"'>
                                  <h3 class="card-title" id="card-title-4">Portfolio</h3>
                                  <p class="card-text">Show them who you really are.</p>
                                </div>
                              </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                                <div class="card-body" id="index-card05" onclick='window.location.href="{{ url_for('communications.reflections', username=current_user.username) }}"'>
                                  <h3 class="card-title" id="card-title-5">Reflections & Stories</h3>
                                  <p class="card-text">Own your narrative.</p>
                                </div>
                              </div>
                </div>
            </div>

        <footer>Copyright 2018 Skyfarm Education, LLC</footer>
    </body>

   
        
{% endblock %}



