{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="100px"><img src="{{ user.avatar(100) }}"></td>
            <td><h1> {{ user.username }}'s Reflections</h1></td>

       
           
        </tr>
</table>
    {% for post in posts %}
        {% include 'communications/_post.html' %}
    {% endfor %}
    <td><a href="{{ url_for('communications.add_reflection') }}" type="button" class="btn btn-success">Write a new reflection.</a></td>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}