
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<html lang="en">
<header>
    <link rel="stylesheet" href="{{ url_for( 'static', 'stylesheets/todo.css' ) }}">
</header>
  
    <body>
     
        {% block app_content %}
        <head>
            <h1>{{ _('%(username)s', username=current_user.username) }}</h1>
            <h2>Your To Do List</h2>
        </head>

        <div class="container">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if tasks %}
                        {% for task in tasks %}
                        <tr class="active">
                                <td> {{ task.name }}</span></td>
                                <td>{{ momentjs(task.due_date).calendar() }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.description }}</td>
                                <td><button type="submit" class="btn btn-success">Done</button></td>
                        </tr>

                        {% endfor %}
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
              
         <a href="{{ url_for('communications.add_todo', username=current_user.username) }}" type="button" class="btn btn-success">Create a new todo task.</a>
            
        </div>
        {% endblock %}
    </body>

</html>




