{% extends "base.html" %}
<html>
    <head>
        <title>First Year SMART Goals</title>
        <script src= "{{ url_for('static',filename='js/fygoals.js') }}"></script>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://surveyjs.azureedge.net/1.0.4/survey.jquery.js"></script>
        <link href="https://surveyjs.azureedge.net/1.0.4/survey.css" type="text/css" rel="stylesheet"/>

    </head>
    
    <body>
        {% block app_content %}
        <div id="surveyContainer"></div>
        {% endblock %}

    </body>

</html>