
body {

}

.col-md-6 {
    border: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-12 {
    border: solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#index-card01 {
    background-image: url("/Users/christopherjohnson/Desktop/GitHub052018/BackPocketSocial/BackPocketSocial/app/static/img/hp_01_cropped.jpg")
}

#index-card02 {
    background-image: url("/Users/christopherjohnson/Desktop/GitHub052018/BackPocketSocial/BackPocketSocial/app/static/img/hp_02_cropped.jpg")
}

#index-card03 {
    background-image: url("/Users/christopherjohnson/Desktop/GitHub052018/BackPocketSocial/BackPocketSocial/app/static/img/hp_03_cropped.jpg")
}
#index-card04 {
    background-image: url("/Users/christopherjohnson/Desktop/GitHub052018/BackPocketSocial/BackPocketSocial/app/static/img/hp_04_cropped.jpg")
}
#index-card056 {
    background-image: url("/Users/christopherjohnson/Desktop/GitHub052018/BackPocketSocial/BackPocketSocial/app/static/img/hp_05_cropped.jpg")
}
