

.card-body {
    height: 300px;

}

.card-subtitle { 
    margin-left: 10px;
    margin-top: 10px;
}

.card-title {
    margin-left: 10Px;
    margin-top: 20px;
}

.card-text {
    margin-left: 10px;
}

#index-card01 {
    background-image: url("/static/img/hp_01.jpg")
}

#index-card02 {
    background-image: url("/static/img/hp_02_cropped.jpg")
}

#index-card03 {
    background-image: url("/static/img/hp_03.jpg")
}
#index-card04 {
    background-image: url("/static/img/hp_04.jpg")
}
#index-card05 {
    background-image: url("/static/img/hp_05.jpg")
}
