<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">

<head>
 
</head>

    <body>
        {% block body %}
    <header>
        <div class="container">
        <center><h1>Welcome to BackPocket</h1></center>
    </div>
    </header>
        <main>
            <article> 
                <div class="container">
                    <div class="col-md-12">
                        <p class="lead"></p>
                        <center><p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up Today</a></center>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <aside id="sidebar_left"></aside>
        <aside id="sidebar_right"></aside>

    </main>

    <footer class="footer">
            <p> Skyfarm Education &copy;2018</p>
    </footer>

        {% endblock %}
    </body>
</html>

