{% extends 'base.html' %}
<html>
    <head></head>
    <body>
    
            {% block body %}
            <div class= "container">
                <div class="panel panel-primary">
                    <div class= "panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ oneUser.profile_pic }}" class="img-circle" width="250" height="250">

                            </div>
                            
                            <div class="col-md-8">
                                <h2>{{ oneUser.username }}</h2>
                            </br>
                            </br>
                            </br>
                            <h4>{{ oneUser.location }}</h4>

                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% endblock %}
    </body>
        


</html>