<!DOCTYPE html>
<html lang="en">
{% extends 'bootstrap/base.html' %}
    
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

{% block title %}
    {% if title %}{{ title }} - BackPocket{% else %}{{ _('Welcome to BackPocket') }}{% endif %}
{% endblock %}
  
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li>BackPocket</li>
                    {% else %}
                    <li><a href="{{ url_for('main.index', username=current_user.username) }}">{{ _('BackPocket') }}</a></li>
                    <li><a href="{{ url_for('api.menu') }}">{{ _('Assess') }}</a></li>
                    <li><a href="{{ url_for('communications.todo', username=current_user.username) }}">{{ _('Tasks') }}</a></li>
                    <li><a href="{{ url_for('communications.reflections', username=current_user.username) }}">{{ _('Reflections') }}</a></li>
                    <li><a href="{{ url_for('canvas.get_assignments', username=current_user.username) }}">{{ _('Portfolio') }}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                        <li><a href="{{ url_for('auth.register') }}">{{ _('Sign Up') }}</a></li>
                    {% else %}
                    <li> 
                        <a href="{{ url_for('communications.messages', username=current_user.username   ) }}">{{ _('Messages') }} 
                        {% set new_messages = current_user.new_messages() %}
                        <span id="message_count" class="badge"
                                    style="visibility: {% if new_messages %}visible
                                                    {% else %}hidden{% endif %};">
                                {{ new_messages }}
                            </span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if g.search_form %}
        <form class="navbar-form navbar-left" method="get"
            action="{{ url_for('main.search') }}">
            <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control',
                placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
    </div>
    {% endif %}
    
{% endblock %}

{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

    <script type=text/javascript src="{{
        url_for('static', filename='jquery-3.3.1.js') }}"></script>

    <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script src="/static/js/moment-with-locals.js"></script>
    
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('communications.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            switch (notifications[i].name) {
                                case 'unread_message_count':
                                    set_message_count(notifications[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(notifications[i].data.task_id,
                                        notifications[i].data.progress);
                                    break;
                            }
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>
{% endblock %}
